html,body {
  border:0;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  background:#111;

  canvas {
    width:100vw;
    height:100vh;
  }

  body {
    @media screen and (max-width:1000px) {
      display:flex;
      flex-direction: column-reverse;

      #gui {
        position:relative;

      }
    }
  }

  #gui, canvas {
    opacity:0;
    transition: opacity 1s, transform 1s;
    &.active {
      opacity:1;
    }
  }

  @mixin bg() {
    $c0:#ffffff;
    $c1:#e5e5e5;
    //background: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
    background: $c0; /* Old browsers */
    background: -moz-linear-gradient(top,  $c0 0%, $c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $c0 0%,$c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $c0 0%,$c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c0', endColorstr='$c1',GradientType=0 ); /* IE6-9 */
  }

  #gui {
    pointer-events: none;
    transform:translateY(20px);
    &.active {
      transform:translateY(0);
    }
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content:space-between;

    #leaderboard, #tweets .tweet {
      padding:10px;
      padding-top:5px;
      padding-bottom:0px;
      margin-right:20px;

      @include bg();
    }

    #tweetHolder {
      margin-left:20px;
      width:300px;
      @media screen and (max-height: 700px) {
        //display:none;
        width:550px;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
      }

      h2 {
        padding:10px;
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 800;
        font-size:1.3em;
        @include bg();
      }
    }

    #tweets {
      padding:0;
      margin:0;

      list-style: none;

      .tweet {
        pointer-events: all;
        padding:8px;
        margin:0;
        margin-bottom:10px;
        a {
          color:black;
          text-decoration: none;
          font-size:.75em;
        }
        dl {
          margin:0px;
          padding:10px;
          border:3px dashed black;
          display:flex;
          flex-direction: column;
          align-items: center;
        }

        dt,dd {
          margin:0;
          padding:0;
        }
        dd {
          display:flex;
          flex-direction:row;
          position:relative;
          justify-content: flex-start;
          align-items: flex-start;
          div {
            position:relative;
            width:70%;
            &:nth-child(2) {
              width:30%;
              padding:0 0 0 20px;
            }
          }
          img {
            width:100%;
            box-shadow:0px 0px 3px rgba(0,0,0,0.3);
          }
        }
        dt {
          display:flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          table {
            td{
              &:nth-child(1) {
                $t:.4s;
                transition:background $t ease-out, color $t ease-out;
                a {
                  transition:background $t ease-out, color $t ease-out;
                }
                &:hover {
                  background:#555;

                  a {
                    color:white;
                  }
                }
              }
              &:nth-child(2) {
                border-left:0;
              }

              padding:0 10px;
              font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
              font-weight: 800;
              font-size: .8em;
              text-align: center;
              border:1px solid rgba(0,0,0,.5);
            }
          }

          margin-bottom:10px;

          text-transform: uppercase;
          padding:2px;
          width:60%;


        }
        dd {
          font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

        }
      }
    }

    #leaderboard {

      h1 {
        margin:0 0 8px;
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 800;
        font-size: 2.2em;
      }
      hr {
        height:6px;
        background-color:black;
        border:0;
        margin:5px 0;
      }
      p {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        font-size:.75em;
        margin:0;
      }

      #footer, #reco {
        text-align: center;
        a,a:visited {
          color:red;
        }
      }

      #footer {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 500;
        font-size: .7em;

        padding:10px 0px 5px;
        margin-bottom:10px;

      }
      #reco {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 500;
        font-size: .7em;
        padding:0px 0px 15px;
      }

      @keyframes blinkRed {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(255,0,0,1); }
        60%   { color: rgba(255,0,0,1); }
        100% { color: rgba(0,0,0,1); }
      }

      @-webkit-keyframes blinkGreen {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(0,255,0,1); }
        60%   { color: rgba(0,255,0,1); }
        100% { color: rgba(0,0,0,1); }
      }
      @-moz-keyframes blinkGreen {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(0,255,0,1); }
        60%   { color: rgba(0,255,0,1); }
        100% { color: rgba(0,0,0,1); }
      }

      @keyframes blinkGreen {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(0,255,0,1); }
        60%   { color: rgba(0,255,0,1); }
        100% { color: rgba(0,0,0,1); }
      }

      @media screen and (max-height: 700px) {
        //display:none;
        width:350px;
        ul {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
        }
      }

      ul {
        list-style: none;
        padding:0;

        li {
          pointer-events: all;
          padding:0;

          &.up {
            -moz-animation:blinkGreen 10s infinite;
            -webkit-animation:blinkGreen 10s infinite;
            animation:blinkGreen 10s infinite;
          }
          &.down {
            animation:blinkRed 10s infinite;
          }

          &:not(:last-child) {
            border-bottom:1px solid #CCC;
          }
          &:last-child {
            margin-bottom:10px;
          }

          span {
            font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            font-size:.85em;
          }
          span.title, span.per {
            font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 800;
          }
          span.value {
            margin-left:3px;
            font-size:.7em;
          }
          span.per {
            float:right;
            font-size:.7em;
          }

        }
      }
    }

  }


}
