html,body {
  border:0;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  overflow:hidden;
  background:#111;

  canvas {
    width:100%;
    height:100%;

  }

  #gui, canvas {
    opacity:0;
    transition: opacity 1s, transform 1s;
    &.active {
      opacity:1;
    }
  }

  #gui {
    transform:translateY(20px);
    &.active {
      transform:translateY(0);
    }
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:2;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    #leaderboard {
      padding:10px;
      padding-top:5px;
      padding-bottom:0px;
      margin-right:20px;
      $c0:#ffffff;
      $c1:#e5e5e5;
      //background: white;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
      background: $c0; /* Old browsers */
      background: -moz-linear-gradient(top,  $c0 0%, $c1 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  $c0 0%,$c1 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  $c0 0%,$c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$c0', endColorstr='$c1',GradientType=0 ); /* IE6-9 */

      h1 {
        margin:0 0 8px;
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 800;
        font-size: 2.2em;
      }
      hr {
        height:6px;
        background-color:black;
        border:0;
        margin:5px 0;
      }
      p {
        font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 400;
        font-size:.75em;
        margin:0;
      }

      @keyframes blinkRed {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(255,0,0,1); }
        60%   { color: rgba(255,0,0,1); }
        100% { color: rgba(0,0,0,1); }
      }

      @-webkit-keyframes blinkGreen {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(0,255,0,1); }
        60%   { color: rgba(0,255,0,1); }
        100% { color: rgba(0,0,0,1); }
      }
      @-moz-keyframes blinkGreen {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(0,255,0,1); }
        60%   { color: rgba(0,255,0,1); }
        100% { color: rgba(0,0,0,1); }
      }

      @keyframes blinkGreen {
        0%   { color: rgba(0,0,0,1); }
        40%   { color: rgba(0,255,0,1); }
        60%   { color: rgba(0,255,0,1); }
        100% { color: rgba(0,0,0,1); }
      }

      ul {
        list-style: none;
        padding:0;
        li {
          padding:0;

          &.up {
            -moz-animation:blinkGreen 10s infinite;
            -webkit-animation:blinkGreen 10s infinite;
            animation:blinkGreen 10s infinite;
          }
          &.down {
            animation:blinkRed 10s infinite;
          }

          &:not(:last-child) {
            border-bottom:1px solid #CCC;
          }
          &:last-child {
            margin-bottom:10px;
          }

          span {
            font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 400;
            font-size:.85em;
          }
          span.title, span.per {
            font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 800;
          }
          span.value {
            margin-left:3px;
            font-size:.7em;
          }
          span.per {
            float:right;
            font-size:.7em;
          }

        }
      }
    }

  }


}
