html, body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #111; }
  html canvas, body canvas {
    width: 100vw;
    height: 100vh; }
  @media screen and (max-width: 1000px) {
    html body, body body {
      display: flex;
      flex-direction: column-reverse; }
      html body #gui, body body #gui {
        position: relative; } }
  html #gui, html canvas, body #gui, body canvas {
    opacity: 0;
    transition: opacity 1s, transform 1s; }
    html #gui.active, html canvas.active, body #gui.active, body canvas.active {
      opacity: 1; }
  html #gui, body #gui {
    transform: translateY(20px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    html #gui.active, body #gui.active {
      transform: translateY(0); }
    html #gui #leaderboard, html #gui #tweets .tweet, body #gui #leaderboard, body #gui #tweets .tweet {
      padding: 10px;
      padding-top: 5px;
      padding-bottom: 0px;
      margin-right: 20px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
      background: white;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c0', endColorstr='$c1',GradientType=0 );
      /* IE6-9 */ }
    html #gui #tweets, body #gui #tweets {
      width: 300px;
      list-style: none; }
      @media screen and (max-height: 700px) {
        html #gui #tweets, body #gui #tweets {
          width: 550px;
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2; } }
      html #gui #tweets .tweet, body #gui #tweets .tweet {
        padding: 8px;
        margin: 0;
        margin-bottom: 10px; }
        html #gui #tweets .tweet a, body #gui #tweets .tweet a {
          color: black;
          text-decoration: none;
          font-size: .75em; }
        html #gui #tweets .tweet dl, body #gui #tweets .tweet dl {
          margin: 0px;
          padding: 10px;
          border: 3px dashed black;
          display: flex;
          flex-direction: column;
          align-items: center; }
        html #gui #tweets .tweet dt, html #gui #tweets .tweet dd, body #gui #tweets .tweet dt, body #gui #tweets .tweet dd {
          margin: 0;
          padding: 0; }
        html #gui #tweets .tweet dd, body #gui #tweets .tweet dd {
          display: flex;
          flex-direction: row;
          position: relative;
          justify-content: flex-start;
          align-items: flex-start; }
          html #gui #tweets .tweet dd div, body #gui #tweets .tweet dd div {
            position: relative;
            width: 70%; }
            html #gui #tweets .tweet dd div:nth-child(2), body #gui #tweets .tweet dd div:nth-child(2) {
              width: 30%;
              padding: 0 0 0 20px; }
          html #gui #tweets .tweet dd img, body #gui #tweets .tweet dd img {
            width: 100%;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
        html #gui #tweets .tweet dt, body #gui #tweets .tweet dt {
          font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 800;
          font-size: .8em;
          text-align: center;
          margin-bottom: 10px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          text-transform: uppercase;
          padding: 2px;
          width: 60%;
          transition: background 0.2s ease-out, color 0.2s ease-out; }
          html #gui #tweets .tweet dt a, body #gui #tweets .tweet dt a {
            transition: background 0.2s ease-out, color 0.2s ease-out; }
          html #gui #tweets .tweet dt:hover, body #gui #tweets .tweet dt:hover {
            background: black; }
            html #gui #tweets .tweet dt:hover a, body #gui #tweets .tweet dt:hover a {
              color: white; }
        html #gui #tweets .tweet dd, body #gui #tweets .tweet dd {
          font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    html #gui #leaderboard h1, body #gui #leaderboard h1 {
      margin: 0 0 8px;
      font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 800;
      font-size: 2.2em; }
    html #gui #leaderboard hr, body #gui #leaderboard hr {
      height: 6px;
      background-color: black;
      border: 0;
      margin: 5px 0; }
    html #gui #leaderboard p, body #gui #leaderboard p {
      font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      font-size: .75em;
      margin: 0; }
    html #gui #leaderboard #footer, body #gui #leaderboard #footer {
      font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 500;
      font-size: .7em;
      text-align: center;
      padding: 10px 0px;
      margin-bottom: 10px; }
      html #gui #leaderboard #footer a, html #gui #leaderboard #footer a:visited, body #gui #leaderboard #footer a, body #gui #leaderboard #footer a:visited {
        color: red; }
@keyframes blinkRed {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: red; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: red; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
@-webkit-keyframes blinkGreen {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: lime; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: lime; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
@-moz-keyframes blinkGreen {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: lime; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: lime; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
@keyframes blinkGreen {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: lime; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: lime; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
    @media screen and (max-height: 700px) {
      html #gui #leaderboard, body #gui #leaderboard {
        width: 350px; }
        html #gui #leaderboard ul, body #gui #leaderboard ul {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2; } }
    html #gui #leaderboard ul, body #gui #leaderboard ul {
      list-style: none;
      padding: 0; }
      html #gui #leaderboard ul li, body #gui #leaderboard ul li {
        padding: 0; }
        html #gui #leaderboard ul li.up, body #gui #leaderboard ul li.up {
          -moz-animation: blinkGreen 10s infinite;
          -webkit-animation: blinkGreen 10s infinite;
          animation: blinkGreen 10s infinite; }
        html #gui #leaderboard ul li.down, body #gui #leaderboard ul li.down {
          animation: blinkRed 10s infinite; }
        html #gui #leaderboard ul li:not(:last-child), body #gui #leaderboard ul li:not(:last-child) {
          border-bottom: 1px solid #CCC; }
        html #gui #leaderboard ul li:last-child, body #gui #leaderboard ul li:last-child {
          margin-bottom: 10px; }
        html #gui #leaderboard ul li span, body #gui #leaderboard ul li span {
          font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 400;
          font-size: .85em; }
        html #gui #leaderboard ul li span.title, html #gui #leaderboard ul li span.per, body #gui #leaderboard ul li span.title, body #gui #leaderboard ul li span.per {
          font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 800; }
        html #gui #leaderboard ul li span.value, body #gui #leaderboard ul li span.value {
          margin-left: 3px;
          font-size: .7em; }
        html #gui #leaderboard ul li span.per, body #gui #leaderboard ul li span.per {
          float: right;
          font-size: .7em; }
