html, body {
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #111; }
  html canvas, body canvas {
    width: 100vw;
    height: 100vh; }
  @media screen and (max-width: 950px) {
    html body, body body {
      display: flex;
      flex-direction: column-reverse; }
      html body #gui, body body #gui {
        position: relative; } }
  html #gui, html canvas, body #gui, body canvas {
    opacity: 0;
    transition: opacity 1s, transform 1s; }
    html #gui.active, html canvas.active, body #gui.active, body canvas.active {
      opacity: 1; }
  html #gui, body #gui {
    pointer-events: none;
    transform: translateY(20px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    html #gui.active, body #gui.active {
      transform: translateY(0); }
    html #gui #leaderboard, html #gui #tweets .tweet, body #gui #leaderboard, body #gui #tweets .tweet {
      padding: 10px;
      padding-top: 5px;
      padding-bottom: 0px;
      margin-right: 20px;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
      background: white;
      /* Old browsers */
      background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c0', endColorstr='$c1',GradientType=0 );
      /* IE6-9 */ }
    html #gui #tweetHolder, body #gui #tweetHolder {
      margin-left: 20px;
      width: 300px; }
      @media screen and (max-height: 700px) {
        html #gui #tweetHolder, body #gui #tweetHolder {
          width: 550px;
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2; } }
      html #gui #tweetHolder h2, body #gui #tweetHolder h2 {
        padding: 10px;
        font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 800;
        font-size: 1.3em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
        background: white;
        /* Old browsers */
        background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, white 0%, #e5e5e5 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c0', endColorstr='$c1',GradientType=0 );
        /* IE6-9 */ }
    html #gui #tweets, body #gui #tweets {
      padding: 0;
      margin: 0;
      list-style: none; }
      html #gui #tweets .tweet, body #gui #tweets .tweet {
        pointer-events: all;
        padding: 8px;
        margin: 0;
        margin-bottom: 10px; }
        html #gui #tweets .tweet a, body #gui #tweets .tweet a {
          color: black;
          text-decoration: none;
          font-size: .75em; }
        html #gui #tweets .tweet dl, body #gui #tweets .tweet dl {
          margin: 0px;
          padding: 10px;
          border: 3px dashed black;
          display: flex;
          flex-direction: column;
          align-items: center; }
        html #gui #tweets .tweet dt, html #gui #tweets .tweet dd, body #gui #tweets .tweet dt, body #gui #tweets .tweet dd {
          margin: 0;
          padding: 0; }
        html #gui #tweets .tweet dd, body #gui #tweets .tweet dd {
          display: flex;
          flex-direction: row;
          position: relative;
          justify-content: flex-start;
          align-items: flex-start; }
          html #gui #tweets .tweet dd a, body #gui #tweets .tweet dd a {
            transition: color .3s ease-out; }
            html #gui #tweets .tweet dd a:hover, body #gui #tweets .tweet dd a:hover {
              color: #DD0000; }
          html #gui #tweets .tweet dd div, body #gui #tweets .tweet dd div {
            position: relative;
            width: 70%; }
            html #gui #tweets .tweet dd div:nth-child(2), body #gui #tweets .tweet dd div:nth-child(2) {
              width: 30%;
              padding: 0 0 0 20px; }
          html #gui #tweets .tweet dd img, body #gui #tweets .tweet dd img {
            width: 100%;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
        html #gui #tweets .tweet dt, body #gui #tweets .tweet dt {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px;
          text-transform: uppercase;
          padding: 2px;
          width: 60%; }
          html #gui #tweets .tweet dt table td, body #gui #tweets .tweet dt table td {
            padding: 0 10px;
            font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 800;
            font-size: .75em;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.5); }
            html #gui #tweets .tweet dt table td:nth-child(1), body #gui #tweets .tweet dt table td:nth-child(1) {
              transition: background 0.4s ease-out, color 0.4s ease-out; }
              html #gui #tweets .tweet dt table td:nth-child(1) a, body #gui #tweets .tweet dt table td:nth-child(1) a {
                transition: background 0.4s ease-out, color 0.4s ease-out; }
              html #gui #tweets .tweet dt table td:nth-child(1):hover, body #gui #tweets .tweet dt table td:nth-child(1):hover {
                background: #555; }
                html #gui #tweets .tweet dt table td:nth-child(1):hover a, body #gui #tweets .tweet dt table td:nth-child(1):hover a {
                  color: white; }
            html #gui #tweets .tweet dt table td:nth-child(2), body #gui #tweets .tweet dt table td:nth-child(2) {
              border-left: 0; }
        html #gui #tweets .tweet dd, body #gui #tweets .tweet dd {
          font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    html #gui #leaderboard h1, body #gui #leaderboard h1 {
      margin: 0 0 8px;
      font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 800;
      font-size: 2.2em; }
    html #gui #leaderboard hr, body #gui #leaderboard hr {
      height: 6px;
      background-color: black;
      border: 0;
      margin: 5px 0; }
    html #gui #leaderboard p, body #gui #leaderboard p {
      font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 400;
      font-size: .75em;
      margin: 0; }
    html #gui #leaderboard #footer, html #gui #leaderboard #reco, body #gui #leaderboard #footer, body #gui #leaderboard #reco {
      pointer-events: all;
      text-align: center; }
      html #gui #leaderboard #footer a, html #gui #leaderboard #footer a:visited, html #gui #leaderboard #reco a, html #gui #leaderboard #reco a:visited, body #gui #leaderboard #footer a, body #gui #leaderboard #footer a:visited, body #gui #leaderboard #reco a, body #gui #leaderboard #reco a:visited {
        color: red;
        text-decoration: none;
        border-bottom: 1px solid red;
        transition: border .3s ease-out; }
        html #gui #leaderboard #footer a:hover, html #gui #leaderboard #footer a:visited:hover, html #gui #leaderboard #reco a:hover, html #gui #leaderboard #reco a:visited:hover, body #gui #leaderboard #footer a:hover, body #gui #leaderboard #footer a:visited:hover, body #gui #leaderboard #reco a:hover, body #gui #leaderboard #reco a:visited:hover {
          border-color: black; }
    html #gui #leaderboard #footer, body #gui #leaderboard #footer {
      font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 500;
      font-size: .7em;
      padding: 10px 0px 5px;
      margin-bottom: 10px; }
    html #gui #leaderboard #reco, body #gui #leaderboard #reco {
      font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 500;
      font-size: .7em;
      padding: 0px 0px 15px; }
@keyframes blinkRed {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: red; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: red; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
@-webkit-keyframes blinkGreen {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: lime; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: lime; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
@-moz-keyframes blinkGreen {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: lime; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: lime; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
@keyframes blinkGreen {
  html #gui #leaderboard 0% , body #gui #leaderboard 0%  {
    color: black; }
  html #gui #leaderboard 40% , body #gui #leaderboard 40%  {
    color: lime; }
  html #gui #leaderboard 60% , body #gui #leaderboard 60%  {
    color: lime; }
  html #gui #leaderboard 100% , body #gui #leaderboard 100%  {
    color: black; } }
    @media screen and (max-height: 700px) {
      html #gui #leaderboard, body #gui #leaderboard {
        width: 350px; }
        html #gui #leaderboard ul, body #gui #leaderboard ul {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2; } }
    html #gui #leaderboard ul, body #gui #leaderboard ul {
      list-style: none;
      padding: 0; }
      html #gui #leaderboard ul li, body #gui #leaderboard ul li {
        pointer-events: all;
        cursor: pointer;
        padding: 0; }
        html #gui #leaderboard ul li.up, body #gui #leaderboard ul li.up {
          -moz-animation: blinkGreen 10s infinite;
          -webkit-animation: blinkGreen 10s infinite;
          animation: blinkGreen 10s infinite; }
        html #gui #leaderboard ul li.down, body #gui #leaderboard ul li.down {
          animation: blinkRed 10s infinite; }
        html #gui #leaderboard ul li:not(:last-child), body #gui #leaderboard ul li:not(:last-child) {
          border-bottom: 1px solid #CCC; }
        html #gui #leaderboard ul li:last-child, body #gui #leaderboard ul li:last-child {
          margin-bottom: 10px; }
        html #gui #leaderboard ul li span, body #gui #leaderboard ul li span {
          font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 400;
          font-size: .85em; }
        html #gui #leaderboard ul li span.title, html #gui #leaderboard ul li span.per, body #gui #leaderboard ul li span.title, body #gui #leaderboard ul li span.per {
          font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          font-weight: 800; }
        html #gui #leaderboard ul li span.value, body #gui #leaderboard ul li span.value {
          margin-left: 3px;
          font-size: .7em; }
        html #gui #leaderboard ul li span.per, body #gui #leaderboard ul li span.per {
          float: right;
          font-size: .7em; }
